body{
    font-family: Roboto;
}



.logo {
    width: 150px;
}

.header {
    background-color: black;
    height: 60px;
    padding:0 15px;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
}

.list-header {
    color: white;
    display: flex;
    flex-direction: row;
    gap:20px;
}
main{
    background-color: cornflowerblue;
    height: 50vh;
}
footer{
    background-color: ;
}
.head1{
    font-size:90px;
    color:white
}
.heroparrafo{
    color: white;
    font-size: 40px;
}
.beneficios{
    display: flex;
    justify-content: space-between;
    padding-left: 64px;
    padding-right:64px;
}
.section-beneficios{
    height: 50vh;
}
.beneficios-titulo{
    text-align: center;
    font-size: 48px;
    margin-bottom: 48px;
    margin-top: 48px;
}
.hero{
    background-image: url(../premium_dancer.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}