<header class="header">
  <img class="logo" src="./imagenes/logo-spotify.png" alt="logo de spotify" />
  <nav class="nav">
    <ul class="list-header">
      <li><a href="">Premium</a></li>
      <li><a href="">Ayuda</a></li>
      <li class="list-header__item"><a href="">Descargar</a></li>
      <li><a href="">Registrarse</a></li>
      <li><a href="">Iniciar Sesión</a></li>
    </ul>
  </nav>

  <button class="button-menu">
    <img class="image-menu" src="./imagenes/menu-icon.png" alt="icono menú" />
  </button>
</header>
