<section>
    <h1>¿Por qué pasarte a Premium?</h1>
    <ul>
        <li>
            <img src="" alt="" />
            <h3>Descarga música.</h3>
            <p>Llévala siempre contigo.</p>
        </li>
        <li>
            <img src="" alt="" />
            <h3>Sin anuncios.</h3>
            <p>Disfruta de música sin interrupciones.</p>
        </li>
        <li>
            <img src="" alt="" />
            <h3>Escucha lo que quieras</h3>
            <p>Incluso en móvil.</p>
        </li>
        <li>
            <img src="" alt="" />
            <h3>Salta todas las canciones que quieras.</h3>
            <p>Simplemente dale a siguiente.</p>
        </li>
    </ul>
</section>