<section class="section">
    <h1 class="section--title">¿Por qué pasarte a Premium?</h1>
    <ul class="list">
        <li class="list--item1">
            <img class="list--image" src="/imagenes/descargar-musica.png" alt="icono con nota musical" />
            <h3>Descarga música.</h3>
            <p>Llévala siempre contigo.</p>
        </li>
        <li>
            <img class="list--image" src="/imagenes/sin-anuncios.png" alt="icono movil con !" />
            <h3>Sin anuncios.</h3>
            <p>Disfruta de música sin interrupciones.</p>
        </li>
        <li>
            <img class="list--image" src="/imagenes/escucha-lo-que quieras.png" alt="icono variado nota musical y reproducción" />
            <h3>Escucha lo que quieras</h3>
            <p>Incluso en móvil.</p>
        </li>
        <li>
            <img class="list--image" src="/imagenes/salta-todas-las canciones.png" alt="icono con movil con simbolo de reproducción" />
            <h3>Salta todas las canciones que quieras.</h3>
            <p>Simplemente dale a siguiente.</p>
        </li>
    </ul>
</section>